*{
  margin: 0;
  font-family: 'Hedvig Letters Sans', sans-serif;
}
.nav{
  height: 70px;
  width: 100%;
  background-color: #eeeeeea1;
  backdrop-filter: blur("4px");
  position: fixed;
  top: 0;
  box-shadow: 0 0 3px 0 #000;

}

.nav .tittle-nav{
 text-align: center;
  cursor: pointer;

}
.tittle-nav img{
  height: 50px;
}
.nav .tittle-nav:hover{
  color: rgb(247, 0, 255);
}
.nav .menu-box{
height: auto;
width: auto;
position: absolute;
right: 10px;
top: 20px;
}
button{
  padding-left: 10px;
  padding-right: 10px;
}
.nav .menu-box .nav-btn{
  font-size: 18px;
  color: #4680ff;
  background-color: #00000000;
 cursor: pointer;
 border: none;
 transition: all 0.7s ;
}
.nav .menu-box .nav-btn:hover{
  color: orangered;
  border-bottom: 1px solid #4680ff ;
  border-radius: 100px;
}

.menu-icon{
  display: none;
}


/* =======================
css mobile 
=========================*/

@media only screen and (max-width: 600px) {
  .menu-icon{
    cursor: pointer;
  display: block;
  font-size: 37px;
  position: absolute;
  top: 7px;
  right: 20px;
  transition: all 0.7s ;
}
.vcc{
  display: none;
}
 .menu-icon:hover{
  font-size: 37px;
  position: absolute;
 background-color: #FF00A9;
  border-radius: 100px;
 color: #fff;
 width: 40px;
 padding-left: 8px;
}

.nav .menu-box{
height: 100vh;
width: 100%;
position: absolute;
right: 10px;
top: 20px;
background-color: #DCDCDC;
top: 0;
}
.nav .menu-box .nav-btn{
  height: 40px;
  width: 60%;
  font-size: 18px;
  color: #4680ff;
  background-color: #00000000;
 cursor: pointer;
 border: 1px dotted #4680ff;
 transition: all 0.7s ;
 margin: 10px;
 margin-left: 30px;
}
.nav .menu-box .nav-btn:hover{
  color: orangered;
 border: 1px solid orangered;
 border-radius: 100px;
}



}