body {
   margin: 0;
    padding: 0;
   box-sizing: border-box;
  font-family: 'Nunito', sans-serif; 
}
.nav{
  top: 0;
  position: sticky;
  backdrop-filter: blur(3px);
  height: 70px;
  width: 100%;
  background-color: #FFFFFF00;
  box-shadow: 0 0 10px 0 rgba(210, 210, 210, 1) inset;
  
  
}

/* n required system*/
n{
  color: red;
}

.nav .text-op{
  font-size: 26px;
  color: #4680ff;
  position: absolute;
  top: 20px;
  left: 10px;
}
/* gavin use contact-box */
.contact-box{
  text-align: center;
  height:30px;
  width: 100%;
  background: #FF8200;
}
.contact-box a{
  text-decoration: none;
    text-align: center;
  color: #FFFFFF;
  position: absolute;
  font-size: 18px;
  top: 5px;
  left: 30px;
  cursor: pointer;
}
.nav-git{
  height: 40px;
  width: auto;
  position: absolute;
  right: 30px;
  top: 10px;
}
.nav-btn{
  height: 36px;
  
  font-size: 18px;
  background-color: #08FDFF00;
  border: none;
  transition: all 0.6s;
  border-width: 0;
}
.nav-btn:hover{
  color: #4680ff;
  border-bottom: 1px dotted #4680ff;
    border-width: 6px;
    

}